/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*--------------------------Style reset---------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*---------------------------------------------------------------------*/

/* Button text Color (Dark Faded Green): #35453a;
  Focus Background Color (Light Grey): #3a38391e; */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
}

a {
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.logo {
  width: 100%;
  padding-left: 20px;
}

#logo {
  height: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 20px;
}

.menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu > ul > li {
  padding: 0 10px;
}

.menu > ul > li > a,
.menu > ul > li > a:visited {
  color: grey;
}

.menu > ul > li:hover {
  font-weight: 600;
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
}

.index_home {
  font-weight: 600;
  text-decoration: underline;
}

.about_about {
  font-weight: 600;
  text-decoration: underline;
}

.contact_contact {
  font-weight: 600;
  text-decoration: underline;
}

.work_work {
  font-weight: 600;
  text-decoration: underline;
}

.profile_contents {
  text-align: center;
}

.profile_contents > h1 {
  font-size: 50px;
  padding: 15px 0;
}

.profile_portrait {
  max-width: 400px;
  min-width: 200px;
  border-radius: 7%;
  -webkit-animation: animate__bounceIn;
  animation: animate__bounceIn;
}

.hello_world {
  background-color: #f2a2c2;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 10px;
  margin: 10px 0;
  -webkit-transition: 1s opacity;
  -o-transition: 1s opacity;
  transition: 1s opacity;
}

.hello_world:hover,
.hello_world:focus {
  opacity: 0.6;
}

.hello_world:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.hello_world:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  outline: none;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.index_intro {
  font-size: 25px;
}

footer {
  padding: 30px 0;
  text-align: center;
}

footer > p {
  padding: 10px 0;
  font-weight: 600;
}

.pageTitle {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
}

.about_me {
  padding: 5% 20% 2% 20%;
  line-height: 2.1;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.skill_table {
  width: 50%;
  margin: auto;
  text-align: center;
}

.skill_table > thead > tr > td {
  padding: 20px 0;
  font-size: 20px;
  font-weight: 600;
}

.skill_table > tbody > tr:hover {
  border-bottom: black 8px solid;
  border-top: black 8px solid;
  font-size: 20px;
}

.about_button {
  display: block;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-weight: 600;
  margin-top: 50px;
  background-color: #f2a2c2;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition: 1s opacity;
  -o-transition: 1s opacity;
  transition: 1s opacity;
}

.about_button:hover,
.about_button:focus {
  cursor: pointer;
  opacity: 0.6;
}

.about_animation {
  padding-top: 3%;
  width: 90%;
  margin: auto;
  text-align: center;
  z-index: -1;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f7af14;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f7af14;
  }
}

@-webkit-keyframes fly-left {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-5303px, 1000px);
    transform: translate(-5303px, 1000px);
  }
}

@keyframes fly-left {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-5303px, 1000px);
    transform: translate(-5303px, 1000px);
  }
}

@-webkit-keyframes fly-right {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(5303px, 1000px);
    transform: translate(5303px, 1000px);
  }
}

@keyframes fly-right {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(5303px, 1000px);
    transform: translate(5303px, 1000px);
  }
}

.svg_source {
  display: block;
  text-align: center;
}

#path334,
#path332 {
  -webkit-animation: 10s fly-right infinite linear;
  animation: 10s fly-right infinite linear;
}

#path308 {
  -webkit-animation: 3s wind infinite alternate;
  animation: 3s wind infinite alternate;
}

#path338,
#path330,
#path336 {
  -webkit-animation: 13s fly-left infinite linear;
  animation: 13s fly-left infinite linear;
}

#path68,
#path196 {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}

#contact-form {
  display: block;
  text-align: center;
  padding: 10px 0 30px 0;
}

.standard-label {
  display: block;
  color: transparent;
  padding: 40px 0 5px 0;
}

#contact-form > input {
  border: none;
  text-align: center;
  font-size: 30px;
}

#contact-form > input:focus {
  outline: none;
}

textarea {
  margin: auto;
  display: block;
  outline: none;
  width: 800px;
  height: 200px;
  font-size: 20px;
  background-color: #3a38391e;
  border: none;
  font-weight: 500;
  resize: none;
}

.submit_button {
  margin: 20px 0;
  padding: 10px 100px;
  background-color: transparent;
}

.submit_button:hover {
  cursor: pointer;
  background-color: navajowhite;
}

.submit_button:active {
  opacity: 0.7;
  background-color: none;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 5% 20%;
}

.grid_items {
  background-color: #d3d3d3;
  padding-bottom: 5px;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.grid_items:hover {
  background-color: #d3d3d3a6;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.grid_items > h2 {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 3px;
}

.grid_items > p {
  line-height: 1.2;
}

.grid_items > a:hover {
  font-weight: 600;
}

/*          Footer          */
.contact_info {
  text-align: center;
  line-height: 2;
}

.icons {
  height: 42px;
  -webkit-transform: rotateZ(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotateZ(-360deg);
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.icons:hover {
  -webkit-transform: rotateZ(360deg);
  -ms-transform: rotate(360deg);
  transform: rotateZ(360deg);
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 667px) {
  header,
  nav {
    display: block;
    text-align: center;
  }
  .menu {
    display: block;
    padding: 20px 0 40px 0;
  }
  .menu > ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .index_intro {
    padding: 0 20%;
    line-height: 1.5;
  }
  .profile_portrait {
    max-width: 300px;
    min-width: 150px;
  }
  #contact-form {
    padding: 10px 0;
  }
  textarea {
    margin: auto;
    width: 90%;
    resize: none;
  }
  .pageTitle {
    padding-top: 10px;
  }
  .skill_table {
    width: 90%;
  }
  .about_me {
    padding: 5% 10% 2% 10%;
    font-size: 15px;
  }
  svg {
    width: 350px;
    height: 233.3333px;
  }
  #contact-form > input {
    width: 90%;
    margin: auto;
    font-size: 20px;
  }
  .submit_button {
    width: 90%;
    padding: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 667px) and (orientation: portrait) {
  header,
  nav {
    display: block;
    text-align: center;
  }
  .menu {
    display: block;
    padding: 20px 0 40px 0;
  }
  .menu > ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .index_intro {
    padding: 0 20%;
  }
  .profile_portrait {
    max-width: 300px;
    min-width: 150px;
  }
  #contact-form {
    padding: 10px 0;
  }
  textarea {
    margin: auto;
    width: 90%;
    resize: none;
  }
  .about_me {
    padding: 5% 10% 2% 10%;
  }
  svg {
    width: 350px;
    height: 233.3333px;
  }
  #contact-form > input {
    width: 90%;
    margin: auto;
    font-size: 20px;
  }
  .submit_button {
    width: 90%;
    padding: 10px;
  }
}

@media screen and (min-width: 667px) and (max-width: 880px) and (orientation: portrait) {
  textarea {
    margin: auto;
    width: 650px;
  }
}

@media screen and (min-width: 222px) and (max-width: 444px) and (orientation: portrait) {
  svg {
    width: 270px;
    height: 180px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .grid_items > h2 {
    font-size: 17px;
  }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .grid_items > h2 {
    font-size: 15px;
  }
}
